.cursor-particle {
  pointer-events: none;
  position: fixed;
  width: 6px;  /* Aumentado de 6px a 8px */
  height: 6px; /* Aumentado de 6px a 8px */
  border-radius: 50%;
  filter: brightness(1.2); /* Hace los colores más brillantes */
  animation: particle-explosion 1s ease-out forwards;
  z-index: 9999;
}

@keyframes particle-explosion {
  0% {
      transform: scale(1) translate(0, 0);
      opacity: 1;
  }
  100% {
      transform: scale(0) translate(var(--tx), var(--ty));
      opacity: 0;
  }
}